body{
   background-image: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
}

.header {
  margin: 20px auto;
  padding: 1px;
  width: 80%;
  color: gray;
  box-shadow: 1px 1px 5px gray;
  border-radius: 20px;
  text-align: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.form{
    width: 80%;
    padding: 15px;
    margin: 5px auto;
    /* background-color: #1abc9c; */
    border-radius: 30px;
    box-shadow: 1px 1px 5px gray;
    background-color: #DCD9D4;
    background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%); 
}

input{
    width: 75%;
    font-size: 1rem;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 1px 1px 5px gray;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
}


