ol {
  font-size: 1.5rem;
  /* list-style: none; */
}

.listTodos {
  display: flex;
}

li {
  flex: 1;
  height: 40px;
  margin: 10px;
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid #424f4c;
}

