ol {
  font-size: 1.2rem;
  list-style: none;
  padding-left: 0;
}

li {
  color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  word-break: break-all;
  background-color:#597b98 ; 
  box-shadow: 1px 1px 5px gray;
  
}
.listTodos {
  display: flex;

}

.buttons{
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.modal__input{
  width: 80%;
}